footer.mt-3.pt-4.px-lg-5.w-lg-100
  .text-center.text-lg-start.px-4.mx-2.mx-lg-5.px-lg-5.pt-lg-5.mt-lg-5.py-lg-5
    h2.text-dark.mt-2 Get in Touch
  .px-4.mx-3.d-flex.flex-wrap.row-cols-lg-4.mx-lg-5.px-lg-5
    .col-6.py-2.d-flex.flex-column
      a.py-2(href='') Dribbble
      a.py-2(href='') Behance
      a.py-2(href='') CodePen
      a.py-2(href='') GitHub
      a.py-2(href='') Medium
    .col-6.ps-3.py-2.d-flex.flex-column
      a.py-2(href='') LinkedIn
      a.py-2(href='') Facebook
      a.py-2(href='') Instagram
      a.py-2(href='') Twitter
    .col-6.pb-4.d-flex.flex-column
      a.py-1(href='') seyrig@mailme.com
      a(href='') + 55 6645 665544