header.first.py-4.px-4.px-lg-5.py-lg-5
  nav.mb-4.py-3.px-2.ps-lg-5.ms-lg-5.pe-lg-5.me-lg-5.mb-lg-5.px-lg-0.d-flex.d-flex.flex-lg-row-reverse.align-items-center
    // <div class="d-none d-lg-block col-lg-1 ms-lg-4"></div>
    .col-3.col-lg-6.text-start
      a.d-lg-none(href='#')
        img(src='./img/GlobalNavButton(E700).svg', alt='')
      ul.d-none.d-lg-flex.flex-row.justify-content-between.align-items-center
        li
          a.text-light(href='') Home
        li
          a.text-light(href='') About
        li
          a.text-light(href='') Skills
        li
          a.text-light(href='') Portfolio
        li
          a.text-light(href='') Contact
    .col-6.col-lg-6.text-center.text-lg-start
      img(src='./img/Logo.svg', alt='')
    .col-3.col-lg-1.d-lg-none.me-lg-4
  // <div class="d-none d-lg-block col-lg-1 me-lg-4"></div>
  .text-center.text-lg-start.col-lg-12.pt-3.pt-lg-5.ps-lg-5.ms-lg-5
    h1 Hi, It&rsquo;s Th&eacute;ophile Seyrig
    p.pt-4.pb-lg-5 Designer from Porto, Portugal
    a.pt-lg-5(href='#') Latest works